#hero {
    height: 100vh;
}

.offwhitebg {
    background-color: rgb(255, 237, 227);
}

.herocontainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*.rectangle1 {
    width: 20%;
    height: 50%;
    position: absolute;
    right: 50px;
    background-color: #A7CBD9;
    top: 0px;
    z-index: 2;
}*/

.herowordsfull {
    color: rgb(83, 115, 112);
}

.herowordslow {
    color: rgba(83, 115, 112, 0.5);
}

.bghero {
    background-color: #77BDD9;
};